:root {
  --color-light: #fff;
  --color-dark: #242424;

  --color-primary: #35378d;
  --color-secondary: #6171ff;
  --color-tertiary: #8a48e0;

  --color-inactive: #999bc6;
  --color-inactive-lighter: #d0d6e6;

  --color-back: #f5f6fd;
  --color-back-darken: #e2e8ff;
  --color-back-dark: #3e42b5;

  --color-border: #e4e9f7;

  --color-status-started-main: #6370ff;
  --color-status-started-back: #dfe2fe;
  --color-status-changed-main: #8a48e0;
  --color-status-changed-back: #f5eaff;
  --color-status-ended-main: #23b480;
  --color-status-ended-back: #d4f3e9;
}
